{% extends "base.html" %}
{% load static %}
{% block title %}<title>ProductBasket Details</title>{% endblock %}

{% block content %}

<h1 class="text-center">Details of ProductBasket</h1>
<ul class="list-group p-5">
    <li class="list-group-item"><b>ID</b>: {{ productbasket.id }}</li>
    <li class="list-group-item"><b>Price</b>: {{ productbasket.price.value }}</li>
    <li class="list-group-item"><b>Basket</b>: {{ productbasket.basket.label }}</li>
    <li class="list-group-item"><b>Ponderation</b>: {{ productbasket.ponderation }}</li>
</ul>

{% endblock %}
