{% extends "base.html" %}
{% load static %}

{% block title %}<title>Confirm Delete Selling Point</title>{% endblock %}

{% block content %}
<form action="{% url 'sellingpoint_delete' object.id %}" method="post" class="p-5 text-center">
    {% csrf_token %}
    <p class="h5 p-3">Are you sure you want to delete "{{ object.code }}"?</p>
    <input type="submit" value="Confirm" class="btn btn-danger"/>
    <a href="{% url 'sellingpoint_list' %}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}
